<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>User Management</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- ========= -->
  <!--    CSS    -->
  <!-- ========= -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  
  <style type="text/css">
    
  </style> 
</head>
<body>
  <!-- ========= -->
  <!-- Your HTML -->
  <!-- ========= -->
  
  
  <div id="container" class="container">
  	<form role="form" id='user_input' class="form-horizontal">
  		<div class="form-group">
  			<label for="name" class="col-sm-2 control-label">username</label>
  			<div class="col-sm-10">
  				<input class="form-control" type="text" name="username" placeholder="Enter username"/>
  			</div>
  			
  		</div>
  		<div class="form-group">
  			<label for="name" class="col-sm-2 control-label">firstname</label>
  			<div class="col-sm-10">
  				<input class="form-control" type="text" name="firstname" placeholder="Enter firstname"/>
  			</div>
  		</div>	
  		<div class="form-group">
  			<label for="name" class="col-sm-2 control-label">lastname</label>
  			<div class="col-sm-10">
  				<input class="form-control" type="text" name="lastname" placeholder="Enter lastname"/>
  			</div>
  		</div>
  		<div class="form-group">
  		 	<div class="col-sm-offset-2 col-sm-10">
  		 		<input type="button" class="btn btn-success btn-lg" value="save"/>
  		 	</div>
  		</div>
		
  	</form>
  	
  	<div class="table-responsive">
  		<table class="table table-bordered table-hover">
			<tr><th>userid</th><th>firstname</th></tr>
			<tbody id="user_list"></tbody>
		</table>
  	</div>
	
	<div id="user_details"></div>
  </div>
  
  
  <!-- Templates -->
  <script type="text/template" id="user_list_tpl">
	<td><a href="#/user/<%- userid %>"><%- userid %></a></td>  <td><%- firstname %></td>    
  </script> 
  
  <script type="text/template" id="user_details_tpl">
	<dl class="dl-horizontal">
		<dt>user id</dt><dd><%- userid %></dd>
		<dt>username</dt><dd><%- username %></dd>
		<dt>firstname</dt><dd><%- firstname %></dd>
		<dt>lastname</dt><dd><%- lastname %></dd>
    </dl>
  </script>
  
  <!-- ========= -->
  <!-- Libraries -->
  <!-- ========= -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <!-- =============== -->
  <!-- Javascript code -->
  <!-- =============== -->
  <script type="text/javascript">
   // var app = {};
  	//--------------
    // Model
    //--------------
    User = Backbone.Model.extend({
    	urlRoot: '/user',
    	idAttribute:'userid',
    	defaults: {
    		username:'',
    	    firstname: '',
    	    lastname: ''
    	  },
    	getCachedUser : function(userid){
        	  //cached object in collection
        	  user = userCollection.get(userid);
        	  if(user){
        		  (new UserDetailsView({model:user})).render();    		  
        	  }
        }
    
    });
  	
  	//--------------
    // Collections
    //--------------
    UserCollection = Backbone.Collection.extend({
    	  model: User,
		  url: '/user'
    	  
    });
  	
    var userCollection = new UserCollection();
    
  	//--------------
    // Views
    //--------------
    
    var userCollectionView;
    
    /*ROOT app view that loads all views*/
    LoadAndRenderUserCollection = Backbone.View.extend({
    	initialize : function(){
  			this.render();
  		},
  		render :  function(){
  			new UserInputView();
  			this.loadAndRenderUsers();
  		},
  		loadAndRenderUsers : function(){
  			userCollectionView = new UserCollectionView();
  		}
  		
  	});
    
    UserInputView = Backbone.View.extend({
  		el : '#user_input',  
  		events:{
  			'click [type="button"]' : 'saveUser'
  		},
  		saveUser : function(){
  			var username = this.$el.find(':input[name=username]').val();
  			var firstname = this.$el.find(':input[name=firstname]').val();
  			var lastname = this.$el.find(':input[name=lastname]').val();
  			
  			var user = new User();
  			user.set('username',username);
  			user.set('firstname',firstname);
  			user.set('lastname',lastname);
  			userCollection.create(user,{success:function(){
  				userCollectionView.loadAndRender();
  			}}); 
  		}
  	}); 
  	
    UserCollectionView = Backbone.View.extend({
    	el : $('#user_list'),    	
    	initialize : function(){
    		this.loadAndRender();
    		//this.collection.on('add',this.addview,this);
    	},
    	render : function(){
    		$(this.el).html('');
    		var that = this;
    		_(this._userViews).each(function(userView){
    			$(that.el).append(userView.render().el);
    		});
    		return this;
    	},
    	loadAndRender:function(){
    		var that = this;
    		this._collection = new UserCollection();
    		this._userViews = [];
    		this._collection.fetch({ success: function(response){  				
    			that._collection.each(function(user){
        			that._userViews.push(new UserView({
        				model:user
        			}));
        		});
    			that.render();
  			}});
    	}
    });
  	
    
  	UserView = Backbone.View.extend({  
  		tagName:'tr',
  		template : _.template($('#user_list_tpl').html()),
  		initialize : function(){
  			this.model.bind('change', this.render);
  			this.render();
  		},
  		render : function(){
  			this.$el.html(this.template(this.model.toJSON())).html(); 
  			return this;
  		}
  	}); 
  	
  	UserDetailsView = Backbone.View.extend({  		  		
  		el:$('#user_details'),
  		template : _.template($('#user_details_tpl').html()),
  		initialize : function(){
  			this.model.bind('change', this.render);  			
  		},
  		render : function(){
  			this.$el.html(this.template(this.model.toJSON())).html(); 
  			return this;
  		}
  	}); 
    
  	//--------------
    // Routers
    //--------------
    Router = Backbone.Router.extend({
      routes: {
        '/' : "allUsers",
        'user/:userid':'getuser'
      },
      allUsers: function(){  
    	userCollection.trigger('reset');
      },
      getuser:function(userid){
    	  
    	  //get model using RESTful call
    	  user = new User({'userid':userid});    	  
    	  user.fetch({
    		  success:function(){
    			(new UserDetailsView({model:user})).render();	  
    		  }
    	  });
      }
    });    
  	
    

    //--------------
    // Initializers
    //--------------
    var router = new Router();    
    var app = new LoadAndRenderUserCollection();
    Backbone.history.start();
  </script>
  
</body>
</html>